.border{
    background-color: #BFE1F1;
}

.text-gradient{
    color: #ffffff;
    font-size: 4rem;
    text-shadow: 0 2px 2px #daaaeb ;

    
}

.card{
    background-color: #daaaeb;
}

a{
    text-decoration: none;
    color: white;
}

.shadw{
    box-shadow: 10px 10px 10px 10px  #daaaeb;
}

.stretched{
    cursor: pointer;
    
}

.nolevel{
    color: #b657d8;
}

