.backColor {
    background-image: url(/images/Back_8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-color: #F6F3EC;
    color: #F4A25D;
}

.ring-black {
    background-color: #F6F3EC;
}

.backColor{
    background-color: #EADFDC;
}

.swiper-wrapper{
    width: 100%;
    height: 29em;
    display: flex;
    align-items: center;
}

.card{
    width: 20em;
    height: 90%;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 2);
    padding: 2em 1em;
    display: flex;
    align-items:center;
    flex-direction:column;
    margin: 0 2em;
    color: #F4A25D;

}

.swiper-slide:not(.swiper-slide-active){
    filter: blur(5px);
 
}


.card_image{
    width: 10em;
    height: 10em;
    border-radius: 50% ;
    border: 5px solid #F4A25D;
    padding: 3px;
    margin-bottom: 2em;
}

.card_image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card_title{
    font-size: 1.5em;
    font-weight: 500;
    position: relative;
    top: .2em;
}

.card_name{
    color: #9178ff;
}

.card_text{
    text-align: center;
    font-size: 1.1em;
    margin: 1em 0;
}

.card_btn{
    background-color: #9178ff;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5em;
    border-radius: .5em;
    margin-top: 1em;
    cursor: pointer;
}

.titleDataTable{
    color: #5B6BCB;
}

.text-color{
    color: #424F9D;
}

